version: "3.7"
services:
  activemq:
    image: rmohr/activemq:5.15.9-alpine
    ports:
      - 61616:61616
      - 8161:8161
  postgres:
    image: postgres:12
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: java_component

