spring:
  main:
    banner-mode: off
  profiles:
    active: "dev"
  swagger:
    endpoint: /swagger-ui.html
  jpa:
    hibernate:
      ddl-auto: create
    open-in-view: true
    database: postgresql
  datasource:
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 5
    driver-class-name: org.postgresql.Driver

---

spring:
  profiles: dev
  activemq:
    broker-url: tcp://localhost:61616
    user: admin
    password: admin
  datasource:
    url: jdbc:postgresql://localhost:5432/java_component
    username: postgres
    password: postgres

---

spring:
  profiles: test
  activemq:
    broker-url: tcp://localhost:61616
    user: admin
    password: admin
  datasource:
    url: jdbc:postgresql://localhost:5432/java_component
    username: postgres
    password: postgres

---

spring:
  profiles: prod
  activemq:
    broker-url: tcp://activemq:61616
    user: admin
    password: admin
  datasource:
    url: jdbc:postgresql://database:5432/java_component
    username: postgres
    password: postgres